
 body {
     background-image: url('../images/sonicbkgrnd.jpg');
     
 }
 

.container {
	
	
}

#directions {
	font-family: 'Anton';
}

#randomnum {
	padding: 15px;
	background-color: #fff;
	font-family: 'Anton';
	
}
#currentguess {
	padding: 15px;
	background-color: #F0F8FF;
	font-family: 'Anton';
}


#wins {
	padding: 15px;
	background-color: #fff;
	font-family: 'Anton';
}

#lose {
	padding: 15px;
	background-color: #F0F8FF;
	font-family: 'Anton';
}

#writeout {
	font-weight: bold;
	font-size: 2em;
	font-family: 'Anton';
}

h1 {
	font-weight: bold;
	font-size: 3em;
	font-family: 'Anton';
}